/* BEGIN CODE HERE */

*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

ul li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 20px;
    border: 1px transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color:aliceblue;
    color:blue;
}

ul li.active a {
    background-color: aliceblue;
    color: blue;
}

header{
    height: 150px;
}

.logo img{
    float: left;
    width: 250px;
    height: 58px;
}

image-1.jpg{
    height: 400px;
    width: 600px;
}

image-2.jpg{
    width: 300px;
    height: 200px;
}

image-3.jpg{
    width: 300px;
    height: 200px;
}

footer{
    height: 100px;
    background-color: none;
    color: #fff;
}

footer p{
    background-color: #000;
    color:black;
}

.main{
    max-width: 1200px;
    margin: auto;
}

/* END CODE HERE */