/* BEGIN CODE HERE */

*{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

ul li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 20px;
    border: 1px transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color:aliceblue;
    color:blue;
}

ul li.active a {
    background-color: aliceblue;
    color: blue;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.logo img{
    float: left;
    width: 250px;
    height: 58px;
}

header{
    height: 150px;
}

footer p{
    height: 100px;
    background-color:#fff;
    color: #000;
}

button{
    background-color: black;
    color: aliceblue;
    border: none;
    border-radius: 50%;
    padding: 20px 40px;
    font-size: medium;
    position: relative;
    transition: transform 0.3s;
}

h1 tr{
    width: 1200px;
}

h2 tr{
    width: 1200px;
}

div label inputname{
    text-align: center;
    display: inline-block;
}

div label inputproductionyear{
    text-align: center;
    display: inline-block;
}

div label inputprice{
    text-align: center;
    display: inline-block;
}

div label inputcolor{
    text-align: center;
    display: inline-block;
}

div label inputsize{
    text-align: center;
    display: inline-block;
}

/* END CODE HERE */